
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EndExam</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        body{
            background-image:url('../../Content/img/stars.jpg');
            background-size:cover
        }
    </style>
</head>
<body>
    <div style="text-align:center; margin-top:17%" class="jumbotron">

        <h1>
            Thanks For Attempting The Exam
        </h1>
        <h1>
            Exam Ended !
        </h1>
    </div>
</body>
</html>
